.excercise-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* grid-gap: 20px; */

}

.titles{
    padding-left: 50px;
}

.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    margin-bottom: 50px;
    /* padding-left: 50px; */
}
@media screen and (max-width: 600px) {
    .excercise-container{
       display: block;

    }
    .info{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 50px;
    }
   
}