.profile{
    display: flex;
    column-gap: 20px;
    align-items: center;
    color: goldenrod;
    padding-top: 10px;
}
.profile img{
    height: 60px;
    border-radius: 50%;
    /* padding-bottom: 20px; */
}
.profile-info {
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    background-color:aliceblue;
    border-radius: 10px;

}
.profile-info p{
    color: darkgray;
    font-size: smaller;
}