.header{
  display: flex;
  align-items: center;
}
.header img{
  height: 50px;
  padding-bottom: 12px;
}
.title{
    height: 55px;
    text-decoration: none;
    display: flex;
    justify-content: start;
    padding-top: 65px;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
    color: green;
    padding-left: 30px;
  }